body{
    padding: 0px;
    margin: 0px;
}
.logo img{
    height: 50px;
    width: auto;
    padding-top: 200px;
    padding-left: 200px;
}
.logo h2{
    font: 1em sans-serif;
    padding-left: 202px;
    font-size: x-large;
}
.form{
    display: flex;
    align-items: flex-end;
    height: 100px;
    width: 110px;
    margin-left: 120vh;
    

}
.form fieldset{
    padding: 10px 10px;
    border: 0px solid #dddfe2;
    
    
}
.form fieldset input{
    height: 65px;
    width: 25vw;
}